* {
	font-family: 'Lato', sans-serif;
}

body {
	margin: 40px 100px;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

p,
h3 {
	margin: 0;
}

.bold {
	font-weight: bold;
}

#searchbar {
	width: 100%;
	height: 69px;
	border: none;
	border-radius: 5px;
	background-color: #e7e7e7;
}

#selected-tags-container {
	display: flex;
	margin: 25px 0 15px 0;
	.selected-item {
		list-style: none;
		font-weight: bold;
		font-size: 14px;
		color: white;
		border-radius: 5px;
		text-align: center;
		padding: 10px 20px;
		i::before {
			margin-left: 10px;
			font-size: 20px;
		}
	}
	.selected-ingr {
		background-color: #3282f7;
	}
	.selected-appl {
		background-color: #68d9a4;
	}
	.selected-utl {
		background-color: #ed6454;
	}
}

#lists {
	display: flex;
	.list {
		min-width: 170px;
		box-sizing: border-box;
		padding: 10px 19px;
		border-radius: 5px;
		// width: fit-content;
		.list-top-part {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.arrow {
			color: white;
		}
		.lists-names {
			font-weight: bold;
			font-size: 18px;
			color: white;
			line-height: 47px;
		}
		.small-searchbar {
			display: none;
			border: none;
			height: 45px;
			width: 100%;
			font-weight: bold;
			font-size: 18px;
			color: white;
			&::placeholder {
				color: white;
				opacity: 0.5;
			}
			&:focus {
				outline: none;
			}
		}
	}
	ul {
		flex-direction: column;
		flex-wrap: wrap;
		// width: 100%;
		width: fit-content;
		max-height: 500px;
		display: none;
		li {
			display: block;
			font-size: 18px;
			color: white;
			margin: 4px 0;
			// display: none;
		}
	}
	#ingredients-list {
		// display: inline-block;
		display: none;
		flex-direction: column;
		// flex-wrap: wrap;
		overflow: auto;
		max-height: 400px;
		p {
			// color: white;
			font-size: 18px;
			margin: 4px 0;
		}
	}
}

#cards-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 4%;
	.recipe-card {
		height: 364px;
		background-color: #e7e7e7;
		border-radius: 5px;
		.img-placeholder {
			background-color: #c7bebe;
			height: 178px;
			border-radius: 5px 5px 0px 0px;
		}
		#test {
			padding: 20px;
			height: 186px;
			box-sizing: border-box;
			overflow: hidden;
		}
		h3,
		.time {
			font-size: 18px;
		}
		.top,
		.bottom {
			display: flex;
			justify-content: space-between;
		}
		.description,
		.ingredients {
			font-size: 12px;
			width: 50%;
		}
	}
}

// #ingredient,
// #appliance,
// #utensil {
// 	&:hover {
// 		p {
// 			display: none;
// 		}
// 		input,
// 		ul {
// 			display: flex;
// 		}
// 	}
// }

// #ingredients-search {
// 	&:focus {
// 		display: flex;
// 		#ingredients-list {
// 			display: flex;
// 		}
// 	}
// }

#ingredient,
#appliance,
#utensil {
	height: 80%;
}

#ingredient,
#ingredients-search {
	background-color: #3282f7;
}

#appliance {
	background-color: #68d9a4;
	margin: 0 20px;
	#appliances-search {
		background-color: #68d9a4;
	}
}

#utensil,
#utensils-search {
	background-color: #ed6454;
}
