* {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 40px 100px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p,
h3 {
  margin: 0;
}

.bold {
  font-weight: bold;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 17px;
}

#main-searchbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-searchbar-container i {
  margin-left: -30px;
}

#main-searchbar {
  width: 100%;
  height: 69px;
  border: none;
  border-radius: 5px;
  background-color: #e7e7e7;
  font-size: 18px;
  padding: 0 20px;
}

#main-searchbar::-webkit-input-placeholder {
  color: black;
  opacity: 0.25;
}

#main-searchbar:-ms-input-placeholder {
  color: black;
  opacity: 0.25;
}

#main-searchbar::-ms-input-placeholder {
  color: black;
  opacity: 0.25;
}

#main-searchbar::placeholder {
  color: black;
  opacity: 0.25;
}

#main-searchbar:focus {
  outline: none;
}

#selected-tags-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 0 15px 0;
}

#selected-tags-container .selected-item {
  list-style: none;
  font-weight: bold;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px;
  margin-right: 5px;
}

#selected-tags-container .selected-item i::before {
  margin-left: 10px;
  font-size: 20px;
}

#selected-tags-container .selected-ingr {
  background-color: #3282f7;
}

#selected-tags-container .selected-appl {
  background-color: #68d9a4;
}

#selected-tags-container .selected-utl {
  background-color: #ed6454;
}

#lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#lists .list {
  min-width: 170px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 19px;
  border-radius: 5px;
  height: 80%;
}

#lists .list .list-top-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#lists .list .arrow {
  color: white;
}

#lists .list .lists-names {
  font-weight: bold;
  font-size: 18px;
  color: white;
  line-height: 47px;
}

#lists .list .small-searchbar {
  display: none;
  border: none;
  height: 45px;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

#lists .list .small-searchbar::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
}

#lists .list .small-searchbar:-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}

#lists .list .small-searchbar::-ms-input-placeholder {
  color: white;
  opacity: 0.5;
}

#lists .list .small-searchbar::placeholder {
  color: white;
  opacity: 0.5;
}

#lists .list .small-searchbar:focus {
  outline: none;
}

#lists ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: none;
  overflow: auto;
  max-height: 400px;
  width: 100%;
}

#lists ul li {
  display: block;
  font-size: 18px;
  color: white;
  margin: 4px 5px 4px 0;
}

#cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px 4%;
  margin-top: 25px;
}

#cards-container .recipe-card {
  height: 374px;
  background-color: #e7e7e7;
  border-radius: 5px;
}

#cards-container .recipe-card .img-placeholder {
  background-color: #c7bebe;
  height: 178px;
  border-radius: 5px 5px 0px 0px;
}

#cards-container .recipe-card #card-text {
  padding: 20px;
  height: 186px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#cards-container .recipe-card h3 {
  width: 70%;
}

#cards-container .recipe-card h3,
#cards-container .recipe-card .time {
  font-size: 18px;
}

#cards-container .recipe-card h3 i,
#cards-container .recipe-card .time i {
  font-size: 20px;
}

#cards-container .recipe-card .top,
#cards-container .recipe-card .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#cards-container .recipe-card .bottom {
  height: 124px;
  overflow: hidden;
  margin-top: 20px;
}

#cards-container .recipe-card .description,
#cards-container .recipe-card .ingredients {
  font-size: 12px;
  width: 50%;
}

#ingredient,
#ingredients-search {
  background-color: #3282f7;
}

#appliance {
  background-color: #68d9a4;
  margin: 0 20px;
}

#appliance #appliances-search {
  background-color: #68d9a4;
}

#utensil,
#utensils-search {
  background-color: #ed6454;
}
/*# sourceMappingURL=index.css.map */